body{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 90%;
    max-width: 600px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.001);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.55);
    text-align: center;
    color: white;
}

.card h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.card p {
    font-size: 24px;
}

@media (max-width: 768px) {
    .card {
        padding: 20px;
    }

    .card h1 {
        font-size: 28px;
    }

    .card p {
        font-size: 20px;
    }
}
